/* Home CSS */
.cid-u3ZfHYornI  {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-u3ZfHYornI  .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-u3ZfHYornI  .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-u3ZfHYornI  .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u3ZfHYornI  .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-u3ZfHYornI  .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u3ZfHYornI  .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u3ZfHYornI  .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-u3ZfHYornI  .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-u3ZfHYornI  .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-u3ZfHYornI  .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-u3ZfHYornI  .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-u3ZfHYornI  .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-u3ZfHYornI  .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-u3ZfHYornI  .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-u3ZfHYornI  .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-u3ZfHYornI  .nav-link {
  width: fit-content;
  position: relative;
}
.cid-u3ZfHYornI  .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-u3ZfHYornI  .navbar-logo {
    padding-left: 0;
  }
}
.cid-u3ZfHYornI  .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u3ZfHYornI  .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-u3ZfHYornI  .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-u3ZfHYornI  .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-u3ZfHYornI  .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u3ZfHYornI  .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-u3ZfHYornI  .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u3ZfHYornI  .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-u3ZfHYornI  .nav-item:focus,
.cid-u3ZfHYornI  .nav-link:focus {
  outline: none;
}
.cid-u3ZfHYornI  .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u3ZfHYornI  .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u3ZfHYornI  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u3ZfHYornI  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u3ZfHYornI  .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u3ZfHYornI  .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u3ZfHYornI  .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-u3ZfHYornI  .navbar.opened {
  transition: all 0.3s;
}
.cid-u3ZfHYornI  .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u3ZfHYornI  .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-u3ZfHYornI  .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-u3ZfHYornI  .navbar.collapsed {
  justify-content: center;
}
.cid-u3ZfHYornI  .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u3ZfHYornI  .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-u3ZfHYornI  .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-u3ZfHYornI  .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u3ZfHYornI  .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u3ZfHYornI  .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u3ZfHYornI  .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u3ZfHYornI  .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u3ZfHYornI  .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u3ZfHYornI  .navbar {
    min-height: 72px;
  }
  .cid-u3ZfHYornI  .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-u3ZfHYornI  .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u3ZfHYornI  .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u3ZfHYornI  .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u3ZfHYornI  .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u3ZfHYornI  .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u3ZfHYornI  .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u3ZfHYornI  .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-u3ZfHYornI  .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u3ZfHYornI  .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u3ZfHYornI  .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-u3ZfHYornI  .dropdown-item.active,
.cid-u3ZfHYornI  .dropdown-item:active {
  background-color: transparent;
}
.cid-u3ZfHYornI  .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u3ZfHYornI  .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u3ZfHYornI  .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u3ZfHYornI  .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-u3ZfHYornI  .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-u3ZfHYornI  .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-u3ZfHYornI  ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u3ZfHYornI  .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-u3ZfHYornI  .navbar-buttons {
    text-align: left;
  }
}
.cid-u3ZfHYornI  button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u3ZfHYornI  button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-u3ZfHYornI  button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u3ZfHYornI  button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u3ZfHYornI  button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u3ZfHYornI  button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u3ZfHYornI  nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u3ZfHYornI  nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u3ZfHYornI  nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u3ZfHYornI  nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u3ZfHYornI  .navbar-dropdown {
  padding: 0 1rem;
}
.cid-u3ZfHYornI  a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u3ZfHYornI  .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-u3ZfHYornI  .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u3ZfHYornI  .navbar {
    height: 70px;
  }
  .cid-u3ZfHYornI  .navbar.opened {
    height: auto;
  }
  .cid-u3ZfHYornI  .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-u3ZfHYornI  .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-u3ZfHYornI  .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-u3ZfHYornI  .navbar-brand {
    margin-right: auto;
  }
  .cid-u3ZfHYornI  .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-u3ZfHYornI  .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-u3ZfHYornI  .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-u3ZfHYornI  .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u3ZfHYornI  .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-u3ZfHYornI  .navbar-collapse {
    padding: 1rem;
  }
}

/* Stay Alert Section */
.cid-u3ZfHYozGY {
  display: flex;
  background-image: url("assets/images/photo-1665309421154-98e2b9888566.jpeg");
}
.cid-u3ZfHYozGY .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-u3ZfHYozGY {
    align-items: flex-end;
  }
  .cid-u3ZfHYozGY .row {
    justify-content: center;
  }
  .cid-u3ZfHYozGY .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u3ZfHYozGY .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-u3ZfHYozGY {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-u3ZfHYozGY .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u3ZfHYozGY .content-wrap {
    width: 100%;
  }
}
.cid-u3ZfHYozGY .mbr-section-title,
.cid-u3ZfHYozGY .mbr-section-subtitle {
  text-align: center;
}
.cid-u3ZfHYozGY .mbr-text,
.cid-u3ZfHYozGY .mbr-section-btn {
  text-align: center;
}

/* Updates on Phishing threats section */

  .cid-u3ZfHYoNtk {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--dominant-color, #260a30);
  }

  .cid-u3ZfHYoNtk input {
    padding: 1.2rem 1.5rem;
    border: none !important;
    height: 100%;
  }

  .cid-u3ZfHYoNtk input:hover {
    border: none !important;
  }

  .cid-u3ZfHYoNtk .btn {
    height: 100%;
    margin: auto;
  }

  @media (min-width: 992px) {
    .cid-u3ZfHYoNtk .text-wrapper {
      padding: 0 2rem;
    }
  }

  .cid-u3ZfHYoNtk .row {
    justify-content: center;
  }

  .cid-u3ZfHYoNtk .mbr-section-btn {
    display: flex;
    margin-bottom: 1.2rem;
    width: fit-content;
  }

  @media (min-width: 768px) {
    .cid-u3ZfHYoNtk .mbr-section-btn {
      margin-left: initial;
    }
  }

  .cid-u3ZfHYoNtk .mbr-section-btn .btn {
    width: auto;
  }

  @media (max-width: 991px) {
    .cid-u3ZfHYoNtk .image-wrapper {
      margin-bottom: 2rem;
    }

    .cid-u3ZfHYoNtk .content-wrapper {
      flex-direction: column-reverse;
    }
  }

  .cid-u3ZfHYoNtk .justify-content-center {
    align-items: center;
  }

  .cid-u3ZfHYoNtk .mbr-section-title {
    text-align: center;
    color: var(--dominant-text, #ffd7ef);
  }


.cid-u3ZfHYos9T {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u3ZfHYos9T .item:focus,
.cid-u3ZfHYos9T span:focus {
  outline: none;
}
.cid-u3ZfHYos9T .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-u3ZfHYos9T .content-head {
  max-width: 800px;
}
.cid-u3ZfHYos9T .item {
  color: #232323;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-u3ZfHYos9T .item {
    min-height: 45px;
  }
}


.cid-u3ZfHYo6qY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u3ZfHYo6qY .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3ZfHYo6qY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u3ZfHYo6qY .mbr-text {
  color: #000000;
}
.cid-u3ZfHYo6qY .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-u3ZfHYo6qY .item-wrapper {
  background: #ffffff;
  padding: 2.25rem 2.25rem 1rem 2.25rem;
}
@media (max-width: 767px) {
  .cid-u3ZfHYo6qY .item-wrapper {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u3ZfHYo6qY .item-wrapper {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
  }
}
.cid-u3ZfHYo6qY .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u3ZfHYo6qY .main-button {
    margin-bottom: 2rem;
  }
}
.cid-u3ZfHYo6qY .counter-container ul {
  margin: 0;
  padding-left: 2.25rem;
  list-style: none;
}
.cid-u3ZfHYo6qY .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
}
.cid-u3ZfHYo6qY .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color, #9fe870);
  background-color: var(--secondary-color, #9fe870);
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-u3ZfHYo6qY .mbr-text UL {
  text-align: left;
}
.cid-u3ZfHYo6qY .mbr-section-subtitle,
.cid-u3ZfHYo6qY .main-button {
  color: #000000;
}

/* Stats Page */
.cid-u3ZfHYpmdB {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u3ZfHYpmdB .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3ZfHYpmdB .item-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cid-u3ZfHYpmdB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u3ZfHYpmdB .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: var(--primary-color, #d70081);
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffd7ef;
  height: 80px;
  border-radius: 50%;
}
.cid-u3ZfHYpmdB .card-title,
.cid-u3ZfHYpmdB .iconfont-wrapper{
  color: var(--primary-color, #d70081);
  text-align: center;
}
.cid-u3ZfHYpmdB .card-text {
  color: #000000;
  text-align: center;
}
.cid-u3ZfHYpmdB .content-head {
  max-width: 800px;
}
.cid-u3ZfHYpmdB .mbr-section-title {
  color: #000000;
}

/* Survivors*/
.cid-u3ZfHYp1qa {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u3ZfHYp1qa .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-u3ZfHYp1qa .item-wrapper {
  margin-bottom: 2rem;
}
.cid-u3ZfHYp1qa .card-title,
.cid-u3ZfHYp1qa .iconfont-wrapper {
  color: #000000;
}
.cid-u3ZfHYp1qa .card-text {
  color: #000000;
  text-align: center;
}
.cid-u3ZfHYp1qa .content-head {
  max-width: 800px;
}
.cid-u3ZfHYp1qa .mbr-section-title {
  color: #000000;
}
.cid-u3ZfHYp1qa .card-title,
.cid-u3ZfHYp1qa .img-wrapper {
  text-align: center;
}
.cid-u3ZfHYp1qa .img-wrapper {
  display: flex;
  justify-content: center;
}

/* */
.cid-u3ZfHYp58G {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u3ZfHYp58G .item:focus,
.cid-u3ZfHYp58G span:focus {
  outline: none;
}
.cid-u3ZfHYp58G .item {
  cursor: pointer;
}
.cid-u3ZfHYp58G .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-u3ZfHYp58G .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-u3ZfHYp58G .grid-container-1,
.cid-u3ZfHYp58G .grid-container-2 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-u3ZfHYp58G .grid-container-1,
  .cid-u3ZfHYp58G .grid-container-2 {
    gap: 0 1rem;
  }
}
.cid-u3ZfHYp58G .mbr-section-title {
  color: #000000;
}
.cid-u3ZfHYp58G .mbr-text,
.cid-u3ZfHYp58G .mbr-section-btn {
  color: #000000;
}
.cid-u3ZfHYp58G .content-head {
  max-width: 800px;
}
.cid-u3ZfHYp58G .container,
.cid-u3ZfHYp58G .container-fluid {
  overflow: hidden;
}
.cid-u3ZfHYp58G .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-u3ZfHYp58G .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u3ZfHYp58G .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-u3ZfHYp58G .grid-item img {
    min-width: 35vw;
  }
}
.cid-u3ZfHYp58G .grid-container-1,
.cid-u3ZfHYp58G .grid-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-u3ZfHYp58G .grid-container-1 {
  align-items: flex-end;
}
.cid-u3ZfHYp58G .grid-container-2 {
  align-items: flex-start;
}

/* Report Now*/
  .cid-u3ZfHYp87B {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
  }
  .cid-u3ZfHYp87B .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u3ZfHYp87B .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u3ZfHYp87B .card-wrapper {
    background: var(--dominant-color, #393193);
    border-radius: 4px;
  }
  @media (max-width: 767px) {
    .cid-u3ZfHYp87B .card-wrapper {
      padding: 1.5rem;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .cid-u3ZfHYp87B .card-wrapper {
      padding: 2.25rem;
    }
  }
  @media (min-width: 992px) {
    .cid-u3ZfHYp87B .card-wrapper {
      padding: 4rem;
    }
  }
  .cid-u3ZfHYp87B .mbr-text,
  .cid-u3ZfHYp87B .mbr-section-btn {
    color: #ffd7ef;
  }
  .cid-u3ZfHYp87B .card-title,
  .cid-u3ZfHYp87B .card-box {
    text-align: center;
    color: var(--dominant-text, #ffd7ef);
  }

  /* Meet the team section */
    .cid-u3ZfHYpM0D {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
  }
  .cid-u3ZfHYpM0D .item-subtitle {
    line-height: 1.2;
    color: #000000;
    text-align: center;
  }
  .cid-u3ZfHYpM0D img,
  .cid-u3ZfHYpM0D .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-u3ZfHYpM0D .item:focus,
  .cid-u3ZfHYpM0D span:focus {
    outline: none;
  }
  .cid-u3ZfHYpM0D .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u3ZfHYpM0D .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u3ZfHYpM0D .item-wrapper {
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-u3ZfHYpM0D .mbr-section-btn {
    margin-top: auto !important;
  }
  .cid-u3ZfHYpM0D .mbr-section-title {
    color: #000000;
  }
  .cid-u3ZfHYpM0D .mbr-text,
  .cid-u3ZfHYpM0D .mbr-section-btn {
    color: #000000;
    text-align: center;
  }
  .cid-u3ZfHYpM0D .item-title {
    color: #000000;
  }
  .cid-u3ZfHYpM0D .content-head {
    max-width: 800px;
  }

  /* Phishing Mythbusters section */
  .cid-u3ZfHYpxaK {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
  }
  .cid-u3ZfHYpxaK .mbr-iconfont {
    font-size: 1.2rem !important;
    font-family: 'Moririse2' !important;
    color: white;
    transition: all 0.3s;
    transform: rotate(180deg);
  }
  .cid-u3ZfHYpxaK .panel-group {
    border: none;
  }
  .cid-u3ZfHYpxaK .card-header {
    padding: 1.2rem 0.5rem;
  }
  @media (max-width: 767px) {
    .cid-u3ZfHYpxaK .card-header {
      padding: 1rem 0rem;
    }
  }
  .cid-u3ZfHYpxaK .panel-body {
    padding: 0 0.5rem;
    padding-bottom: 1rem;
  }
  @media (max-width: 767px) {
    .cid-u3ZfHYpxaK .panel-body {
      padding: 0rem;
      padding-bottom: 1rem;
    }
  }
  .cid-u3ZfHYpxaK .img-col {
    padding: 0;
  }
  .cid-u3ZfHYpxaK .img-item {
    height: 100%;
  }
  .cid-u3ZfHYpxaK img {
    height: 100%;
    object-fit: cover;
  }
  .cid-u3ZfHYpxaK .collapsed span {
    transform: rotate(0deg);
  }
  .cid-u3ZfHYpxaK .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cid-u3ZfHYpxaK p {
    margin-bottom: 0.3rem;
  }
  .cid-u3ZfHYpxaK .card .card-header {
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
    border-radius: 2rem;
  }
  .cid-u3ZfHYpxaK .card {
    background: #ffffff;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u3ZfHYpxaK .card {
      padding: 1.5rem;
    }
  }
  .cid-u3ZfHYpxaK .panel-text {
    color: #000000;
  }
  .cid-u3ZfHYpxaK .mbr-section-title {
    text-align: center;
    color: #000000;
  }
  .cid-u3ZfHYpxaK .mbr-section-subtitle {
    color: #000000;
    text-align: center;
  }
  .cid-u3ZfHYpxaK .panel-title-edit,
  .cid-u3ZfHYpxaK .mbr-iconfont {
    color: #000000;
  }

  /* News Flash Section*/
  .cid-u3ZfHYpL0U {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u3ZfHYpL0U .item-subtitle {
    line-height: 1.2;
    color: #000000;
  }
  .cid-u3ZfHYpL0U img,
  .cid-u3ZfHYpL0U .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-u3ZfHYpL0U .item:focus,
  .cid-u3ZfHYpL0U span:focus {
    outline: none;
  }
  .cid-u3ZfHYpL0U .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u3ZfHYpL0U .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u3ZfHYpL0U .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-u3ZfHYpL0U .mbr-section-title {
    color: #232323;
  }
  .cid-u3ZfHYpL0U .mbr-text,
  .cid-u3ZfHYpL0U .mbr-section-btn {
    color: #232323;
  }
  .cid-u3ZfHYpL0U .item-title {
    color: #232323;
  }
  .cid-u3ZfHYpL0U .content-head {
    max-width: 800px;
  }

/* Follow us */
.cid-u3ZfHYqvmH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u3ZfHYqvmH .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u3ZfHYqvmH .social-row .soc-item {
  margin: 8px;
}
.cid-u3ZfHYqvmH .social-row .soc-item a:hover .mbr-iconfont,
.cid-u3ZfHYqvmH .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-u3ZfHYqvmH .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: var(--primary-color, #393193);
  transition: all 0.3s ease-in-out;
}
.cid-u3ZfHYqvmH .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u3ZfHYqvmH .mbr-section-title {
  color: #ffffff;
}
.cid-u3ZfHYqvmH .mbr-section-title,
.cid-u3ZfHYqvmH .social-list {
  color: #000000;
}

/* Get in touch */
.cid-u3ZfHYqKZN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u3ZfHYqKZN .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-u3ZfHYqKZN form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-u3ZfHYqKZN form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-u3ZfHYqKZN form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-u3ZfHYqKZN .content-head {
  max-width: 800px;
}

/* Contact Support*/
.cid-u3ZfHYq368 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u3ZfHYq368 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u3ZfHYq368 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u3ZfHYq368 .row {
  justify-content: center;
}
.cid-u3ZfHYq368 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u3ZfHYq368 .item {
    margin-bottom: 1rem;
  }
}
.cid-u3ZfHYq368 .item .item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u3ZfHYq368 .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-u3ZfHYq368 .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-u3ZfHYq368 .content-head {
  max-width: 800px;
}

/*  Last Section*/
  .cid-u3ZfHYqfyI {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000000;
    overflow: hidden;
  }

.head-123 .mbr-section-title{
  color: #000000;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5;
  margin-bottom: 1.5rem;

}
.flex-wrapper12351111{
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
}
element.style {
    transition: transform 500ms ease 0s;
    transform: translateX(0px) translateY(0px);
}
.benefits-box {
    width: 25%;
    text-align: center;
    cursor: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.benefits-box.blue123, .benefits-box.blue123.no-resr {
    background-color: var(--midnight-blue);
}
.benefits-box.blue123 {
    color: #fff;
    text-align: left;
    background-color: #193051;
    border-radius: 10px;
    flex: 1;
    align-items: flex-start;
    padding: 30px 25px;
}

element.style {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
}
.icon.w50 {
    max-width: 50px;
    margin-bottom: 15px;
}
.icon {
    max-width: 90px;
    margin-bottom: 30px;
    display: inline-block;
}
.b10 {
    margin-bottom: 10px;
    line-height: 24px;
}
p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
._1231 {
    text-align: center;
    align-self: auto;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 23px;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.benefits-box.green {
    color: #193051;
    text-align: left;
    background-color: #bde541;
    border-radius: 10px;
    flex: 1;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    position: relative;
    top: 60px;
}


.text-box-4 .aa-text_header {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #000;
    margin-bottom: auto;
    text-align: center;
    margin-top: auto;
}

  .cid-u4fIWeaqcj {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
  }
  .cid-u4fIWeaqcj .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u4fIWeaqcj .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u4fIWeaqcj .mbr-text {
    color: #000000;
  }
  .cid-u4fIWeaqcj .mbr-section-subtitle 
    {
      color: #000000;
      text-align: left;
    }
  .cid-u4fIWeaqcj .main-button {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u4fIWeaqcj .main-button {
      margin-bottom: 2rem;
    }
  }
  .cid-u4fIWeaqcj .mbr-section-subtitle,
  .cid-u4fIWeaqcj .main-button {
    color: #000000;
  }
  .cid-u4fIWeaqcj .google-map {
    height: 30rem;
    position: relative;
    border-radius: 2rem;
  }
  .cid-u4fIWeaqcj .google-map iframe {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
  }
  .cid-u4fIWeaqcj .google-map [data-state-details] {
    color: #6b6763;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .cid-u4fIWeaqcj .google-map[data-state] {
    background: #e9e5dc;
  }
  .cid-u4fIWeaqcj .google-map[data-state="loading"] [data-state-details] {
    display: none;
  }